.root {
    -fx-background-color: white;
}

#DirectorySelectorButton{
	 -fx-background-color: white;
	 -fx-border-color:gray;
}

#DirectorySelectorButton:hover{
 -fx-cursor :hand;
}

#ErrorLabelPath{
	-fx-font-size:30px;
}
